@import '/src/assets/less/config.scss';
.homeScreenWrapper{
    background: url("../../assets/Images/headerBg.png") no-repeat;
    background-size: 60%;
    height: 70vw;
}
.homeContent{
    display: flex;
    align-items: center;
    width: 75%;
    float: right;
    background-color: #1E0C06;
    padding: 4%;
    border-radius: 50px 0px 0px 50px;
    margin: 3em 0;
   .contentWrapper{
    width: 50%;
    h1{
        font-size: 6vw !important;
        margin: 0;
    }
    p{
        font-size: 1.4em;
        color: #FFDBBB;
        span{
            font-size: 1.2em; 
            color: $white;
        }
    }
   }
   .imageWrapper{
    width: 50%;
    svg{
        width: 100%;
    }
   }
}
.ourWorksWrapper{
 padding: 1em;
}